# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside

# Build artifacts
build/
DerivedData/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Sensitive
*.pem
*.p12
*.mobileprovision
